#resultados {
    border: solid 0px red;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

.item-pelicula {
    border: solid 0px green;
    float: left;
    margin-left: 8px;
}

img {
    width: 175px;
    height: 225px;
}

.contenido-pelicula {
    border: solid 0px green;
    float:left;
}

.datos-pelicula {
    border: solid 0px blue;
    float: left;
    margin-left: 5px;
    width: 300px;
}

.cabecera {
    border: solid 0px red;
    float: left;
    padding: 2px 2px 2px 2px;
    font-weight: bold;
}

.votos {
    border: solid 0px green;
    float: right;
    padding: 2px 2px 2px 2px;
    
}

.texto-cortado {
    width: 300px;
    /*overflow:hidden; */
    /*text-overflow: ellipsis;*/
    height: 200px;
}

.clear {
    clear: both;
}

.contenido {
    border: solid 0px red;
    padding-left: 3px;
    padding-top: 3px;
}